## Practical 1

<blockquote>
Perform descriptive analysis and identify the data type.

1) Count total no. of students in data set 

2) Calualte mean of the marks for each subject

3) Find the highest and lowest  marks in each subject in given data set

4) Count total no of male and female in dataset.
</blockquote>

In [69]:
import pandas as pd
import numpy as np

In [70]:
#getting data-frame from csv file
student_data = pd.read_csv('student.csv')
student_data.head(n=10)

,Name,Enrollment No.,Gender,Contact,City,PEM,DM,OS,COA,OOPJ
0,nisha,180280116100,f,747-094-9614,Gandhinagar,68,62,67,67,67
1,manish,180280116101,m,174-612-4067,Vadodara,57,22,35,42,49
2,pramila,180280116102,f,161-786-0160,Ahmedabad,38,54,55,30,20
3,rekha,180280116103,f,767-737-0527,Ahmedabad,54,53,25,23,68
4,muskan,180280116104,f,390-149-7969,Amreli,61,63,61,67,65
5,shri aladeen,180280116105,m,652-337-9095,Vadodara,47,35,53,37,37
6,mohini,180280116106,f,986-358-2979,Vadodara,50,28,55,34,45
7,manju,180280116107,f,287-063-0964,Vadodara,25,57,64,49,34
8,wasim,180280116108,m,437-037-0103,Rajkot,52,68,66,67,30
9,ramvir,180280116109,m,708-658-2304,Amreli,46,66,66,31,39

In [71]:
#getting summary statistics of student data
student_data.describe()

,Enrollment No.,PEM,DM,OS,COA,OOPJ
count,5.040000e+02,504.000000,504.000000,504.000000,504.000000,504.000000
mean,1.802801e+11,46.117063,48.422619,47.875000,46.678571,47.238095
std,1.456365e+02,17.827988,16.473907,17.015554,17.401237,17.280370
min,1.802801e+11,15.000000,15.000000,15.000000,15.000000,15.000000
25%,1.802801e+11,29.000000,35.000000,33.000000,31.000000,32.000000
50%,1.802801e+11,47.500000,51.000000,53.000000,49.000000,49.500000
75%,1.802801e+11,63.000000,64.000000,63.000000,63.000000,64.000000
max,1.802801e+11,70.000000,70.000000,70.000000,70.000000,70.000000

In [72]:
#getting summary about every columns
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            504 non-null    object
 1   Enrollment No.  504 non-null    int64
 2   Gender          504 non-null    object
 3   Contact         504 non-null    object
 4   City            504 non-null    object
 5   PEM             504 non-null    int64
 6   DM              504 non-null    int64
 7   OS              504 non-null    int64
 8   COA             504 non-null    int64
 9   OOPJ            504 non-null    int64
dtypes: int64(6), object(4)
memory usage: 39.5+ KB

### Descriptive stats describing observations
<ol>
    <li>Mean</li>
    <li>Median</li>
    <li>Sum</li>
    <li>Max, Min </li>
</ol>

In [73]:
#counting students
s_count = student_data.count().Name
print(f'Total Students: {s_count}')

Total Students: 504

In [74]:
subjects = ["PEM", "OS", "COA", "DM", "OOPJ"]
#getting subjects data-frame
subject_df = student_data.loc[:, subjects]
print(subject_df)

#finding mean,median,max and min using agg()
subject_df.agg([np.mean, np.median, np.min, np.max])

     PEM  OS  COA  DM  OOPJ
0     68  67   67  62    67
1     57  35   42  22    49
2     38  55   30  54    20
3     54  25   23  53    68
4     61  61   67  63    65
..   ...  ..  ...  ..   ...
499   18  29   48  31    17
500   56  39   54  19    59
501   47  44   49  39    65
502   70  68   61  60    63
503   44  39   64  70    25

[504 rows x 5 columns]

              PEM      OS        COA         DM       OOPJ
mean    46.117063  47.875  46.678571  48.422619  47.238095
median  47.500000  53.000  49.000000  51.000000  49.500000
amin    15.000000  15.000  15.000000  15.000000  15.000000
amax    70.000000  70.000  70.000000  70.000000  70.000000

### Descriptive stats describing variable spread
<ol>
    <li>Variance</li>
    <li>Standard deviation</li>
    <li>Counts</li>
    <li>Quartiles</li>
</ol>

In [75]:
#counting number of male and female students
gender_counts = student_data.Gender.value_counts()
gender_counts.index=["Total Females", "Total Males"]
print(gender_counts)

Total Females    256
Total Males      248
Name: Gender, dtype: int64

In [76]:
#getting gender by proportion
norm_gender_count = student_data.Gender.value_counts(normalize=True)
norm_gender_count.index=["Females(%)", "Males(%)"]
print(norm_gender_count*100)

Females(%)    50.793651
Males(%)      49.206349
Name: Gender, dtype: float64

In [77]:
#variance in marks of subject
student_data.var()["PEM":]

PEM     317.837164
DM      271.389627
OS      289.529076
COA     302.803039
OOPJ    298.611190
dtype: float64

In [78]:
#standard deviation in marks of subject
student_data.std()["PEM":]

PEM     17.827988
DM      16.473907
OS      17.015554
COA     17.401237
OOPJ    17.280370
dtype: float64

In [79]:
def iqr(column):
    """
    This function finds the inter quartile range.
        75th percentile - 25th percentile
    
    Parameters
    -----------
        column: column whose iqr is to be known
        
    Returns
    ------------
    the inter quartile range of specified column
    """
    return column.quantile(.75) - column.quantile(.25)

In [82]:
#finding iqr of every subject marks
subject_df.agg(iqr)

PEM     34.0
OS      30.0
COA     32.0
DM      29.0
OOPJ    32.0
dtype: float64